.App {
  text-align: center;
}

/* sign */
.sign-parent {
  display: flex;
  justify-content: center;
}

.sign-form {
  border: 1px black solid;
  border-radius: 5px;
  padding: 25px;
  margin-top: 100px;
  width: 400px;
}

/*My store*/
.product-create-parent {
  border-left: 1px black solid !important;
}

.create-product-form {
  border-radius: 5px;
  padding: 10px 20px;
  width: 350px;
  border: 1px black solid;
}

.users-products {
  padding: 15px 0px;
  margin: 10px;
  border: 1px black solid;
  border-radius: 5px;
}

.auth-user-posts-action {
  display: flex;
  justify-content: center;
  text-align: left;
}

.auth-user-posts-action-btn {
  display: flex;
  justify-content: space-around;
}

.product-images {
  padding: 5px;
}

.product-image {
  height: 150px;
}

.errors {
  padding: 1px;
}

.centering-objects {
  display: flex;
  justify-content: center;
}

.my-store-parent-row {
  margin-left: 20px;
}

@media only screen and (max-width: 992px) {
  .my-store-parent-row {
    display: flex;
    justify-content: center;
  }
}

.product-color-box {
  height: 25px;
  width: 100%;
}

/*profile*/
.create-address {
  display: flex;
  justify-content: center;
}

.form-create-address {
  border: 1px black solid;
  border-radius: 5px;
}

li {
  list-style-type: none;
}

.make-default-radio-btn {
  cursor: pointer;
}

.password-change-row {
  display: flex;
  justify-content: center;
}

.password-change-col {
  padding: 15px;
  border: 1px black solid;
  border-radius: 5px;
}
